body {
  max-width: 800px;
  margin: 0 auto;
}

body, input, button {
  font: 11pt/1.3 "Helvetiva Neue", Helvetica, Arial, sans-serif;
}

button, label {
  font-weight: bold;
}

#profile {
  width: 400px;
}
